*{
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}
html{
    width: 100%;
    overflow: hidden;
}
@font-face {
    font-family: Silk Serif;
    src: url(fonts/SilkSerif-Medium.woff);
}
body{
    /* background-image: url(img/bg.png); */
    min-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    background-size: cover;
   
    background-position: center;
}
.deskt-m{
    display: none;
}
.text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px; /* Высота видимой области */
    overflow: hidden; /* Скрываем текст за границами */
    width: 100%;
    overflow-y: hidden;
}

.text-div span {
    font-family: Silk Serif;
    font-size: 72px;
    font-weight: 500;
    line-height: 86.4px;
    letter-spacing: -0.04em;
    text-align: center;
    color: white;
    position: absolute;
    opacity: 0;
    transform: translateY(100%); /* Спан начинается снизу */
    transition: opacity 1s ease, transform 3s ease; /* Сохраняем длительность анимации */
}

/* Когда спан готовится к появлению (временно находится внизу) */
.text-div span.appearing {
    transform: translateY(100%); /* Начинаем снизу */
    opacity: 0;
}

/* Видимый спан, который появляется снизу */
.text-div span.visible {
    opacity: 1;
    transform: translateY(0); /* Спан поднимется в центр */
}

/* Когда спан исчезает, он уезжает вверх */
.text-div span.hidden {
    opacity: 0;
    transform: translateY(-120%); /* Спан уезжает вверх */
}

main{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    height: 100%;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.8) 100%);
    
}
.container{
padding: 0 48px;
    margin: 0 auto;
    
  height: 100%;
    /* min-height: 100vh; */
}
.content-box{
    height: 100%;
    flex-direction: column;
    display: flex;
    position: relative;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
    text-align: center;
}
video{
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: center;
}
.header-logo{
    display: flex;
 
    align-items: center;
    gap: 18px;
    margin-top: 48px;
}
.header-logo svg{
    margin-top: 0;
}
.header-logo span{
    color: rgb(255, 255, 255);
font-family: Silk Serif;
font-size: 36px;
font-weight: 500;
line-height: 100%;
letter-spacing: -4%;
text-align: center;
text-transform: uppercase;
}
h1{
    font-family: Silk Serif;
    font-size: 72px;
    font-weight: 500;
    line-height: 86.4px;
    letter-spacing: -0.04em;
    text-align: center;
color: white;    
}
p{
    font-family: Arial;
font-size: 24px;
color: white;
font-weight: 400;
line-height: 28.8px;
letter-spacing: -0.02em;
text-align: center;

}


@media screen and (max-width: 1024px){
    h1{
    
        font-size: 40px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -4%;
        text-align: center;
    }
    p{
        font-size: 16px;
        margin-bottom: 0;
        /* padding-bottom: 20px; */
    }
    
    body{
background-color:grey;
padding-top: env(safe-area-inset-top);
padding-bottom: calc(env(safe-area-inset-bottom) + 10px);

    }
    .header-logo{
        margin-top: 48px;
    }
    .deskt-m{
        display: block;
    }
    .content-box{
        box-sizing: border-box;
        padding: 20px 0;
    }
    .deskt-v{
        display: none;
    }
}
@media(max-width:520px){
    h1{
    
      
        font-size: 22px;
     
    }
    p{
        font-size: 16px;
    }
    .text-div span{
        font-size: 42px;
        line-height: 120%;

    }
    .header-logo span{
        color: rgb(255, 255, 255);
font-family: Silk Serif;
font-size: 18px;
font-weight: 500;
line-height: 100%;
letter-spacing: -4%;
text-align: center;
text-transform: uppercase;
    }
    .header-logo{
        gap: 9px;
    }
    .container {
        padding: 0 20px;
    }
    .header-logo svg{
        width: 21.82px;
height: 23.97px;
    }
}
